.bg-redred{
    background-color: firebrick;
}

#ul-gray{
	position: inline-block;
/* 	background-color: #f1f2f5; */
	text-align:center;
	height: 133px;
	width: 100%;
	display: block;
	list-style:none;
	
}
#pont-sizea{
	font-weight: bold;
	font-size : 85px;
	decoration : none;
	color : #000000;
	font-family: arial;
}
#cardne {
	width:85%;
	padding:5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	display: inline-block;
}
#plusbtn {
	width:15%;
	background-color: white;
	display: inline-block;
	border : 0;
	outline : 0;
	cursor : pointer;
}
#modalsize{
	width:100%;
}
#modalimagesize{
	width:60%;
	display:inline-block;
}
#modalimagesize2{
	width:100%;
	display:inline-block;
}
#modaltextsize{
	height:297.59px;
	width:35%;
	display:inline-block;
	margin-bottom:0;
	position: absolute;
	right:25px;
}
.modalradius{
	border-radius: 1em;
	padding : 5px;
	border : 1em;
	border: 1px solid #dededf;
	text-align:left;
}
.reviewmodal{
	text-align:center;
}
.managerbtn{
	color : rgba(255,255,255,.5);
	text-decoration:none;
	hover : text-decoration:none;
}
#writebtn {
	width:70px;
	display: inline-block;
	cursor : pointer;
}
.writbtn2{
	text-align : right;
	width:100%;
	cursor : pointer;
}
.writbtn3{
	position : relative;
	cursor : pointer;
}
.writbtn3-1{
	position : relative;
	width:100%;
	text-align : right;
}
#managertable{
	height : 500px;
	border-radius: 1em;
	padding : 5px;
	border : 1em;
	border: 1px solid #dededf;
}
.managerul{
	list-style:none;
}
.inputform{
	width:100%;
}
.inputformne{
	width:30%;
}